<li class="todo">
  <%= link_to todo.title, todo %>
  <span><%= link_to "edit", edit_todo_path(todo), :class => 'edit'  %></span>
  <span><%= link_to "delete", todo_path(todo), :method =>:delete, :class => 'delete'  %></span>
</li>
