<h1><%= @todo.title %></h1>
<div class="task-form">
  <div class="errors"></div>
  <%= render 'tasks/form', :task => @task, :todo => @todo %>
</div>
<ul class="tasks">
  <% @todo.tasks.each do |task| %>
    <%= render 'task', :task => task %>
  <% end %>
</ul>
