<div class="task-container">
  <h1><%= @todo.title %></h1>
  <div class="task-form">
    <%= render 'tasks/form', :task => @task, :todo => @todo %>
  </div>
  <ul class="tasks">
    <% @todo.tasks.each do |task| %>
      <%= render 'todos/task', :task => task %>
    <% end %>
  </ul>
</div>
